h3{
    color: magenta;
}
.header{
    height: 200px;
    /* background-image: url('images.jpeg'); */
    background-image: url('sky.jpeg');
    background-size: contain;
    background-blend-mode: multiply;
}
ol li{
    color: brown;
    display: inline;
    
}